#pag-lugares #main-lugares {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  align-items: center;
  justify-content: center;
}
#background-header {
  position: absolute;
  height: 100dvh;
  width: 100dvw;
  background: url("../images/pag-lugares/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  filter: brightness(40%) blur(4px);
  z-index: -1;
}
#div-container-header {
  background: rgba(255, 255, 255, 0.072);
  width: 100%;
  height: 700px;
  text-align: center;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: calc(32px + 1vh);
}
#div-titulo-principal-header {
  display: flex;
  justify-content: center;
}
#titulo-principal-header {
  cursor: default;
  width: fit-content;
  background-image: linear-gradient(
    0deg,
    var(--color-07) 50%,
    var(--color-10) 50%
  );
  background-size: 100% 200%;
  background-position: top;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.4s;
  text-shadow: 0px 5px 0px rgba(0, 0, 0, 0.14);
}

#titulo-principal-header:hover {
  background-position: bottom;
}

.titulo-principal {
  font-size: 5rem;
  text-transform: uppercase;
}
.titulo-secundario {
  font-size: 2rem;
  text-shadow: 0px 5px 0px rgba(0, 0, 0, 0.14);
}

#pag-lugares header nav {
  width: 100%;
}

#pag-lugares nav ul {
  display: flex;
  justify-content: space-around;
  align-items: start;
  list-style: none;
  flex-wrap: wrap;
}
#pag-lugares #div-container-header .lugares-a {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}
#pag-lugares #div-container-header .lugares-a:hover {
  transform: scale(1.1);
}
#pag-lugares .lugares-a h2 {
  transition: all 0.3s;
}
#pag-lugares .lugares-a h2:hover {
  transform: scale(1.1);
}
#pag-lugares .img-lugares {
  border-radius: 90%;
  max-width: 300px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: all 0.8s ease;
  position: relative;
  z-index: 10;
}
#pag-lugares .img-lugares:hover {
  transform: scale(1.1);
}
.display-flex-header-h2 {
  display: flex;
  justify-content: center;
}

.titulo-linear-gradient {
  cursor: pointer;
  width: fit-content;
  background-image: linear-gradient(
    0deg,
    var(--color-07) 50%,
    var(--color-10) 50%
  );
  background-size: 100% 200%;
  background-position: top;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.4s;
  text-shadow: 0px 5px 0px rgba(0, 0, 0, 0.14);
}

.titulo-linear-gradient:hover {
  background-position: bottom;
}

.titulo-casa-arvore {
  background-image: linear-gradient(
    0deg,
    var(--color-07) 50%,
    var(--color-10) 50%
  );
}

.titulo-reino-doce {
  background-image: linear-gradient(
    0deg,
    var(--color-04) 50%,
    var(--color-10) 50%
  );
}

.titulo-reino-gelado {
  background-image: linear-gradient(
    0deg,
    var(--color-02) 50%,
    var(--color-10) 50%
  );
}

.img-transicao {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%) scale(1);
  z-index: 9999;
  object-fit: cover;
  border-radius: 50%;
  opacity: 1;
  transition: transform 1s ease, opacity 1s ease;
  pointer-events: none;
}

.img-transicao.expandindo {
  transform: translate(-50%, -50%) scale(5);
  opacity: 1;
}
